* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
/*COMIENZA HEADER///////////////////////////////////////////////////////////*/

header {
    background-color: lightgreen;
}
.bg-colormenu {
    background-color: rgb(174, 239, 174);
}
.divisor {
    width: 100%;
    height: 2px;
}
.titulo {
    font-family: "Indie Flower", cursive;
    color: black;
}
nav {
    font-family: "Indie Flower", cursive;
}

/*COMIENZA INDEX/////////////////////////////////////////////////////////////////////*/
.index__fotos__sm {
    width: 100%;
}
.texto__imagen {
    position: absolute;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 500;
    color: black;
    text-shadow: 0.5px 0.5px 2px black;
}
#fecha {
    height: 1.4rem;
}
/*SAN MARTIN DE LOS ANDES/////////////////////////////////////////////////////////////////////*/
#titulo_sanmartin {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}
#act_sanmartin {
    padding: 20px 40px 0px 40px;
}
.fotos_sanmartin img {
    width: 90%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*BARILOCHE///////////////////////////////////////////////////////////////////*/
#titulo_bariloche {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}
#act_bariloche {
    padding: 20px 40px 0px 40px;
}
.fotos_bariloche img {
    width: 90%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*EL BOLSON///////////////////////////////////////////////////////////////////////*/
#titulo_bolson {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}
#act_bolson {
    padding: 20px 40px 0px 40px;
}
.fotos_bolson img {
    width: 90%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/*PARA LOS TRES LUGARES/////////////////////////////////////////////////////////*/
.mejora {
    border-radius: 0;
    padding: 0;
}
ul {
    text-align: center;
    margin-bottom: 40px;
}
li {
    font-size: 18px;
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 33%;
}
li p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: lightgreen;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 0;
}
/*FOOTER//////////////////////////////////////////////////////*/
footer {
    background-color: rgb(70, 147, 70);
    color: white;
    font-size: 0.8rem;
}
.footer__subtitulo {
    font-size: 1rem;
}
.telefono {
    font-size: 0.7rem;
}
@media (min-width: 1024px) {
    .index__texto__subtitulo {
        font-size: 1.7rem;
    }
    .index__texto__texto {
        font-size: 1.3rem;
    }
    footer {
        font-size: 1.3rem;
    }
    .footer__subtitulo {
        font-size: 1.8rem;
    }
    .telefono {
        font-size: 1.3rem;
    }
    .limite-tamaño {
        max-width: 80%;
    }
    .registro__formulario {
        font-size: 1.5rem;
    }
    #fecha {
        height: 2rem;
    }
}
